* {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

#fx {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#fx header {
  width: 10rem;
  height: 4.293333rem;
  background: #fff;
  display: flex;
}

#fx header .list1 {
  width: 4.986667rem;
  height: 4.266667rem;
  background: #fff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  background-image: url(../images/hongbao.webp);
  background-repeat: no-repeat;
  background-size: 1.866667rem 1.68rem;
  background-position: 2.746667rem 2.133333rem;
}

#fx header .list1 h2 {
  font-size: .386667rem;
  color: #ffbb25;
  margin-top: .64rem;
  margin-left: .426667rem;
}

#fx header .list1 p {
  font-size: .293333rem;
  color: #9e9e9e;
  margin-left: .426667rem;
  margin-top: .24rem;
}

#fx header .list2 {
  width: 4.986667rem;
  height: 4.266667rem;
  background: #fff;
}

#fx header .list2-1 {
  width: 5rem;
  height: 2.133333rem;
  background-image: url(../images/hongbao1.webp);
  background-repeat: no-repeat;
  background-position: 3.44rem .506667rem;
  background-size: 1.093333rem 1.12rem;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

#fx header .list2-1 h2 {
  font-size: .386667rem;
  color: #11a2ff;
  padding-top: .64rem;
  padding-left: .426667rem;
}

#fx header .list2-1 p {
  font-size: .293333rem;
  color: #9e9e9e;
  margin-left: .426667rem;
  margin-top: .24rem;
}

#fx header .list2-2 {
  width: 5rem;
  height: 2.133333rem;
  background-image: url(../images/hongbao2.webp);
  background-repeat: no-repeat;
  background-size: 1.2rem 1.2rem;
  background-position: 3.4rem .453333rem;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

#fx header .list2-2 h2 {
  font-size: .373333rem;
  color: #fc656e;
  padding-top: .64rem;
  padding-left: .426667rem;
}

#fx header .list2-2 p {
  font-size: .293333rem;
  color: #9e9e9e;
  margin-left: .426667rem;
  margin-top: .24rem;
}

#fx .box {
  height: .28rem;
  background: #f5f5f5;
  border: 1px solid #ededed;
}

#fx main {
  flex: 1;
}

#fx main .list1, #fx main .list2 {
  background: #fff;
  border: 1px solid #ededed;
}

#fx main .list1 .list-a, #fx main .list2 .list-a {
  width: 4.84rem;
  height: .546667rem;
  display: flex;
  margin: auto;
  margin-top: .586667rem;
}

#fx main .list1 .list-a .list-1, #fx main .list2 .list-a .list-1 {
  width: .466667rem;
  height: .133333rem;
  background-image: url(../images/jt.jpg);
  background-size: .466667rem  .133333rem;
  margin-left: .226667rem;
  margin: auto;
}

#fx main .list1 .list-a .list-2, #fx main .list2 .list-a .list-2 {
  width: .453333rem;
  height: .453333rem;
  background-image: url(../images/shouzhang.jpg);
  background-size: .453333rem .453333rem;
  margin-left: .026667rem;
}

#fx main .list1 .list-a h2, #fx main .list2 .list-a h2 {
  margin-left: .173333rem;
  font-size: .453333rem;
  color: #373737;
  font-weight: bold;
}

#fx main .list1 .p1, #fx main .list2 .p1 {
  font-size: .266667rem;
  color: #b5b5b5;
  margin-top: .106667rem;
  text-align: center;
}

#fx main .list1 ul, #fx main .list2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: .373333rem;
  margin-top: .266667rem;
}

#fx main .list1 ul li, #fx main .list2 ul li {
  width: 4.6rem;
  height: 7.066667rem;
  background: #fff;
  border: 1px solid #eeeeee;
  margin-bottom: .24rem;
}

#fx main .list1 ul li .tp, #fx main .list2 ul li .tp {
  width: 4.6rem;
  height: 4.6rem;
  background-image: url(../images/fx.jpg);
  background-size: 4.6rem 4.6rem;
}

#fx main .list1 ul li .tp-1, #fx main .list2 ul li .tp-1 {
  width: 4.6rem;
  height: 4.6rem;
  background-image: url(../images/zfx.jpg);
  background-size: 4.6rem 4.6rem;
}

#fx main .list1 ul li .tp-2, #fx main .list2 ul li .tp-2 {
  width: 4.6rem;
  height: 4.6rem;
  background-image: url(../images/src.jpg);
  background-size: 4.6rem 4.6rem;
}

#fx main .list1 ul li .wz, #fx main .list2 ul li .wz {
  width: 100%;
  height: 1.533333rem;
}

#fx main .list1 ul li .wz h3, #fx main .list2 ul li .wz h3 {
  font-size: .373333rem;
  line-height: .373333rem;
  color: #333333;
  width: 3.666667rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: .133333rem;
  margin-left: .28rem;
}

#fx main .list1 ul li .wz .wz-1, #fx main .list2 ul li .wz .wz-1 {
  font-size: .253333rem;
  color: #757575;
  margin-left: .293333rem;
  margin-top: .173333rem;
}

#fx main .list1 ul li .wz .wz-1 .wz-2, #fx main .list2 ul li .wz .wz-1 .wz-2 {
  font-size: .253333rem;
  color: #737373;
  margin-left: .293333rem;
}

#fx main .list1 ul li .wz h4, #fx main .list2 ul li .wz h4 {
  font-size: .32rem;
  color: #fb6c06;
  margin-top: .133333rem;
  margin-left: .293333rem;
}

#fx main .list1 ul li .wz h4 .wz-3, #fx main .list2 ul li .wz h4 .wz-3 {
  width: 1.12rem;
  height: .32rem;
  border: 1px solid #c28292;
  border-radius: .026667rem;
  font-size: .24rem;
  color: #d17e78;
  text-align: center;
  margin-left: .16rem;
}

#fx main .list1 ul li .wz .xian, #fx main .list2 ul li .wz .xian {
  width: 4.093333rem;
  height: .013333rem;
  color: #c2c4c3;
  border-bottom: 1px dashed #ced0cf;
  margin-left: .266667rem;
  margin-top: .133333rem;
}

#fx main .list1 ul li .wz .bt, #fx main .list2 ul li .wz .bt {
  height: .773333rem;
  width: 100%;
  margin-left: .266667rem;
  background-image: url(../images/dp.jpg);
  background-repeat: no-repeat;
  background-size: .253333rem;
  background-position: 0rem .266667rem;
}

#fx main .list1 ul li .wz .bt h5, #fx main .list2 ul li .wz .bt h5 {
  font-size: .266667rem;
  color: #989898;
  margin-left: .426667rem;
  padding-top: .24rem;
}

#fx main .list1 .db, #fx main .list2 .db {
  width: 100%;
  height: 1.333333rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fx main .list1 .db a, #fx main .list2 .db a {
  font-size: .306667rem;
  color: #989898;
  text-align: center;
}

#fx main .d {
  height: .266667rem;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}

#fx main .list2 {
  background: #fff;
}

#fx main .list2 .list-3 {
  width: .453333rem;
  height: .453333rem;
  background-image: url(../images/nz.jpg);
  background-size: .453333rem .453333rem;
  margin-left: .026667rem;
}

#fx main .list2 ul li {
  width: 3.106667rem;
  height: 4.666667rem;
}

#fx main .list2 ul li .zuo {
  width: 1.306667rem;
  height: .493333rem;
  background: #000;
  font-size: .266667rem;
  color: #fbf7f8;
  text-align: center;
  line-height: .493333rem;
}

#fx main .list2 ul li .zt {
  width: 2.2rem;
  height: .893333rem;
  background-image: url(../images/zuo.jpg);
  background-size: 2.2rem  .893333rem;
  margin-top: .8rem;
  margin-left: .4rem;
}

#fx main .list2 ul li .zt-1 {
  width: 1.866667rem;
  height: 1.066667rem;
  background-image: url(../images/z.jpg);
  background-size: 1.866667rem 1.066667rem;
  margin-top: .493333rem;
  margin-left: .52rem;
}

#fx main .list2 ul li .zt-2 {
  width: 2.666667rem;
  height: .666667rem;
  background-image: url(../images/you.jpg);
  background-size: 2.666667rem .666667rem;
  margin-top: .693333rem;
  margin-left: .186667rem;
}

#fx main .list2 ul li .z-1 {
  font-size: .293333rem;
  color: #2b2b2b;
  margin-top: 1.106667rem;
}

#fx main .list2 ul li .z-2 {
  font-size: .32rem;
  color: #e66732;
  margin-top: .346667rem;
}

#fx main .list2 .db {
  background: #fff;
  height: .933333rem;
}

#fx main .list3 {
  height: 1.333333rem;
  background: blue;
}

#fx footer {
  width: 10rem;
  height: 1.4rem;
  background: #fff;
  position: fixed;
  bottom: 0rem;
}

#fx footer ul {
  display: flex;
  justify-content: space-around;
}

#fx footer ul li {
  display: flex;
  align-items: center;
  margin-top: .293333rem;
}

#fx footer ul li a {
  display: flex;
  flex-direction: column;
}

#fx footer ul li a img {
  width: .466667rem;
  height: .466667rem;
}

#fx footer ul li a span {
  font-size: .24rem;
  color: #8b8b8d;
  margin-top: .133333rem;
}

#fx footer ul :hover {
  color: #018dff;
}
